// FONTS
@font-face {
    font-family: AvenirNextCyr-Light;
    src: url(../font/AvenirNextCyr-Light.woff);
}
@font-face {
    font-family: AvenirNextCyr-Regular;
    src: url(../font/AvenirNextCyr-Regular.woff);
}
@font-face {
    font-family: AvenirNextCyr-Medium;
    src: url(../font/AvenirNextCyr-Medium.woff);
}
@font-face {
    font-family: AvenirNextCyr-Bold;
    src: url(../font/AvenirNextCyr-Bold.woff);
}

// MISC. CSS
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #171717;
    font-family: AvenirNextCyr-Regular;
    overflow: hidden;
}
a {
    &:hover {
        text-decoration: none;
    }
}
button {
    outline: none !important;
    box-shadow: none !important;
    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}
.hr {
    margin: 2em auto;
    width: 98%;
    height: 1px;
    background-color: var(--white);
}
.hr-1 {
    padding: auto 1em;
    background-color: var(--white);
}
.badge-hd {
    font-family: AvenirNextCyr-Medium;
    font-size: 12px;
    position: absolute;
    background-color: var(--white);
    color: black;
    top: 0.4em;
    right: 1.7em;
    padding: 0.1em 0.3em;
    border-radius: 3px;
}
.badge-hd-relative {
    position: relative;
    top: 0;
    right: 0;
    width: fit-content;
}

.intro-reel {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    .block {
        width: 1px;
        height: 0%;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        .wrapper {
            margin: auto;
            background: linear-gradient(crimson, crimson) white no-repeat 0 0;
            background-size: 0 100%;
            opacity: 0;
            visibility: hidden;
            .title {
                text-transform: uppercase;
                font: bold 26vmax/0.8 Open Sans, Impact;
                background: black;
                display: table;
                color: white;
                mix-blend-mode: multiply;
            }
        }
    }
}

// NAVBAR
.navbar-wrapper {
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(8px);
    position: relative;
    top: 0;
    z-index: 9999;
    padding: 0.6em 1.5em;
    transition: positon 0.3s;
    .logo {
        a {
            color: var(--white);
        }
        font-family: AvenirNextCyr-Bold;
        font-size: 2em;
    }
    .search {
        border: 0;
        outline: 0;
        border-radius: 20px;
        height: 2.2em;
        width: 90%;
        padding: 0.5em 1em 0.5em 2.5em;
    }
    .search-icon {
        position: relative;
        left: 30px;
    }
    .searched-list {
        position: absolute;
        top: 3.5em;
        width: 85%;
        min-height: 20em;
        background-color: black;
        border-radius: 12px;
        .picture {
            img {
                width: 100%;
                height: 54px;
                object-fit: cover;
                border-radius: 6px;
            }
        }
        .info {
            small {
                display: contents;
            }
        }
    }
    ul {
        li {
            font-family: AvenirNextCyr-Medium;
            a {
                color: var(--white);
                transition: all 0.3s;
            }
            .nav-active {
                color: #5555fd;
            }
        }
    }
}
.sticky {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
}

// HOME PAGE HERO SLIDER
.home {
    opacity: 0;
    visibility: hidden;
    .swiper-container {
        .swiper-scrollbar {
            display: none;
        }
        .swiper-pagination-bullet {
            background: var(--white);
            opacity: 0.5;
        }
        .swiper-pagination-bullet-active {
            background: #5555fd;
            opacity: 1;
        }
        .hero {
            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 1em;
                opacity: 0;
                transition: opacity 0.3s;
                .title {
                    font-family: AvenirNextCyr-Bold;
                    width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .overview {
                    font-size: 14px;
                    display: -webkit-box;
                    max-width: 330px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            .hero-poster {
                height: auto;
                @media only screen and (min-width: 1025px) {
                    height: 80vh;
                }
                width: 100%;
                object-fit: contain;
            }
            .genres {
                font-size: 14px;
            }
            &:hover {
                .info {
                    opacity: 1;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(0, 0, 0, 0.7) 100%
                    );
                }
            }
        }
    }
}

// HOME PAGE MOVIES, TV SERIES & /MOVIE/:ID || /TV/:ID PAGE SIMILAR MOVIES
.top-rated,
.discover,
.similar {
    h2 {
        font-family: AvenirNextCyr-Bold;
        color: var(--white);
    }
    .poster {
        border-radius: 5px;
        width: 100%;
        height: auto;
        @media only screen and (min-width: 768px) {
            height: 20em;
        }
        object-fit: cover;
    }
    .filter {
        color: var(--white);
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 18px;
        padding: 0.375rem 1.55rem;
    }
    .filter.active {
        border: 1px solid #5555fd;
        background: #5555fd;
    }
    .movie-info {
        color: var(--white);
        .title {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        svg {
            fill: var(--white);
        }
    }
}

// /MOVIE/:ID || /TV/:ID PAGE
.item-details {
    opacity: 0;
    visibility: hidden;
    h2 {
        font-family: AvenirNextCyr-Bold;
    }
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        outline: 0;
    }
    .poster {
        width: 100%;
        height: 20em;
        object-fit: contain;
        border-radius: 6px;
    }
    .cast,
    .crew {
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            width: 12em;
            max-height: 18.024375em;
            border-radius: 6px;
        }
        .name {
            font-family: AvenirNextCyr-Bold;
        }
    }
    .similar {
        .poster {
            border-radius: 5px;
            width: 100%;
            height: 20em;
            object-fit: cover;
        }
    }
}

// MOVIE & TV SERIES PAGE
.movietv-list {
    opacity: 0;
    visibility: hidden;
}

.celeb {
    opacity: 0;
    visibility: hidden;
    h2 {
        font-family: AvenirNextCyr-Bold;
    }
    img {
        border-radius: 6px;
    }
    .load-more {
        border-radius: 18px;
        min-width: 10em;
        color: var(--white);
        background: #5555fd;
        padding: 0.5em 1em;
        font-family: AvenirNextCyr-Bold;
    }
}

// /PERSON/:ID PAGE
.person {
    opacity: 0;
    visibility: hidden;
    .picture {
        width: 100%;
        max-height: 30em;
        object-fit: contain;
        object-position: top;
        border-radius: 6px;
    }
    .name {
        font-family: AvenirNextCyr-Bold;
    }
    .title {
        font-family: AvenirNextCyr-Medium;
    }
    .detail {
        font-size: 0.9em;
    }
    p {
        font-family: AvenirNextCyr-Light;
    }
    .record-known-for {
        overflow-x: auto;
        img {
            width: 12em;
            max-height: 18.024375em;
            border-radius: 6px;
        }
    }
    .roles {
        .character {
            font-family: AvenirNextCyr-Bold;
        }
    }
}
