@font-face {
    font-family: AvenirNextCyr-Light;
    src: url(../font/AvenirNextCyr-Light.woff);
}
@font-face {
    font-family: AvenirNextCyr-Regular;
    src: url(../font/AvenirNextCyr-Regular.woff);
}
@font-face {
    font-family: AvenirNextCyr-Medium;
    src: url(../font/AvenirNextCyr-Medium.woff);
}
@font-face {
    font-family: AvenirNextCyr-Bold;
    src: url(../font/AvenirNextCyr-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #272727;
    font-family: AvenirNextCyr-Regular;
}

// SMALL COMPONENT CSS
.hr {
    margin: 2em auto;
    width: 98%;
    height: 1px;
    background-color: var(--white);
}
.badge-hd {
    font-family: AvenirNextCyr-Medium;
    font-size: 12px;
    position: absolute;
    background-color: var(--white);
    color: black;
    top: 0.4em;
    right: 1.7em;
    padding: 0.1em 0.3em;
    border-radius: 3px;
}
.badge-hd-relative {
    position: relative;
    top: 0;
    right: 0;
    width: fit-content;
}

// REACT COMPONENTS CSS
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 1em;
}

.carousel {
    height: 100%;
    .slide {
        img {
            width: auto !important;
            height: 100vh;
        }
    }
}

.top-rated,
.discover {
    h2 {
        font-family: AvenirNextCyr-Bold;
        color: var(--white);
    }
    .poster {
        border-radius: 5px;
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
    .filter {
        color: var(--white);
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 18px;
    }
    .movie-info {
        color: var(--white);
        .title {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        svg {
            fill: var(--white);
        }
    }
}

.item-details {
    h2 {
        font-family: AvenirNextCyr-Bold;
    }
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        outline: 0;
    }
    .poster {
        width: 100%;
        height: 20em;
        object-fit: contain;
        border-radius: 6px;
    }
    .cast,
    .crew {
        overflow-x: auto;
        img {
            width: 15em;
            border-radius: 6px;
        }
    }
}
